<div class="container">
  <h1>Ajouter un livre</h1>
  <form>
    <div class="form-group">
      <label for="iban">IBAN</label>
      <input type="text" class="form-control" id="iban" #i>
    </div>
    <div class="form-group">
      <label for="Titre">Titre</label>
      <input type="text" class="form-control" id="titre" #t>
    </div>
    <div>
      <input type="button" class="btn btn-primary" value="Ajouter" (click)="addBook(i.value, t.value)">
    </div>
  </form>


  <h1>Liste des livres</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">IBAN</th>
        <th scope="col">Titre</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of books; let indice = index;">
        <th scope="row">{{indice + 1}}</th>
        <td>{{livre.iban}}</td>
        <td>{{livre.titre}}</td>
        <td><input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteBook(indice)" > </td>
      </tr>
    </tbody>
  </table>
</div>
