<div class="container">
  <h1>Liste des livres</h1>
  <input type="button" value="Ajouter un livre" class="btn btn-success" (click)="setAction('add')">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">IBAN</th>
        <th scope="col">Titre</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of books; let indice = index;">
        <th scope="row">{{indice + 1}}</th>
        <td>{{livre.iban}}</td>
        <td>{{livre.titre}}</td>
        <td><input type="button" class="btn btn-info" value="Editer" (click)="showEditBook(indice)" > </td>
        <td><input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteBook(indice)" > </td>
      </tr>
    </tbody>
  </table>

  <app-edit *ngIf="action == 'edit'" [book]="bookToEdit" (edition)="editBook($event)"></app-edit>
  <app-add *ngIf="action == 'add'" (addEvent)='addBook($event)'></app-add>
</div>
